* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
.container {
  padding: 1rem;
}
body {
  background-color: rgb(208, 215, 231);
}
h1.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
p,
del,
b,
i {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  font-size: 2rem;
  margin: 1rem 0;
}
/* a {
  background-color: white;
  padding: 1rem;
} */
/* content */
.header-img-wrapper {
  width: 100%;
  > img {
    width: 100%;
  }
}

.green-color {
  color: green;
}
.img-container {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
  > .img-wrapper {
    > img {
      height: 100%;
      width: 100%;
    }
  }
}
div.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  padding: 5rem 2rem;
  background-color: rgb(70, 65, 65);
  > div {
    > a {
      font-size: 2rem;
      color: white;
    }
  }
}

@media screen and (width<=350px) {
  .img-container {
    flex-wrap: wrap;
  }
}

@media screen and (height>=900px) {
  div.footer {
    padding: 10rem 2rem;
  }
}
